<div class="lard">
  <div>
    <a href="/flux/{{id}}">
      {{ content }}
    </a>
  </div>
  <div>
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="flux__date">{{ createdAt }}</span>
    <span class="flux_comments">{{ comments.length }} Comments</span>
    <div class="rows">
      <form  action="/flux/{{id}}?_method=PUT" method="POST">
          <p class="input-field"></p>
            <input id="cols1" class="btn" type="submit" value="Edit Flux">
          </p>
      </form>
      <form  method="POST" action="/flux/{{id}}?_method=DELETE">
        <p  class="input-field">
          <input id="cols" class="btn"  type="submit" value="Delete">
        </p>
      </form>
    </div>
  </div>
</div>
