<div class="card">
  <div class="card-content">
    <a class="card-title" href="/flux/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="flux__date">{{ createdAt }}</span>
    <span class="flux_comments">{{ comments.length }} Comments</span>
  </div>
</div>