<p class="lard">
  {{> 'flux'}}
</p>

{{#if comments.length}}
  {{#each comments}}
    <div>
      <div>
        <span>
          {{ content }}
        </span>
      </div>
      <div >
        <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
        <span class="flux__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}

{{#if currentUser}}
<div>
  <div>
    <h4>Add a comment:</h6>
    <form method="POST" action="/flux/{{id}}?_method=PUT" class="row">
      <p class="input-field inline col s10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }}